.MT_main{
  grid-area: main;
  margin-top: 60px;
  background-color: white;
}

.search {
  margin-top: 15px;
  text-align: center;
  display: flex;
  width: 50%;
  margin-right: auto;
  margin-left: auto;

}

.search_input {
  border: 1.5px solid rgb(160, 159, 159);
  height: 40px;
  box-shadow: 2px 2px 6px 0px gainsboro;
  width: 100% ;
  border-radius: 20px;
  text-align: center;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  font-family:  Verdana;
}

.search_button {
  outline: none;
  height: 39.5px;
  width: 120px;
  background-color: rgb(213, 230, 67);
  border: none;
  border-radius: 20px;
  margin-left: -120.3px;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
}

.search_icon {
  font-size: 16px ;
}
