.task_main{
  display: grid;
  grid-area: main;
  margin: 60px 20px 20px 20px ;
}

.task_data {
  font-size: 20px;
  

}

.task_textarea {
  text-align: start;
  width: 500px;
  height: 100px;
  background:transparent;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.task_img {
  float: right;
  top: 70px;
  width: 400px;
  height: 300px;
}

.task_dropdown {
  text-align: center;
  font-size: 20px;
  padding: 3px;
  text-decoration: none;

}

.task_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  
}

.task_button_decor {

  padding: 3px 5px;
  outline: none;
  text-align: center;
  border: none;  
  align-self: center; 
  background-color: #202020;
  font-size: 18px;
  color:rgb(213, 230, 67);
  font-weight: 700;
  justify-content: center;
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  width: 180px;
  height: 50px;

}


.task_input {
  justify-content: space-between;
}

.task_input > button {
  justify-content: space-between;
}

.task_select {
  display:flex
}
