
main {
  grid-area: main;
  background-color: rgb(250, 244, 244);
  padding: 0 10px 0 10px;
  justify-content: center;
}

/* .main_div {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr 1fr ;
} */

.main_heading {  
  font-family:   'Segoe UI',  
  'Ubuntu'  ; 
   font-weight:700 ;
   color: rgb(213, 230, 67);
}


.button_decor {
  background-color: rgb(213, 230, 67);
  padding: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
  color: rgb(63, 62, 62);
  transition: .3s;
  font-size: medium;
  outline: none ;
  margin-top: 30px;
}

img{
  border-radius: 50%;
  box-shadow: 3px 3px 3px 3px rgba(153, 142, 142, 0.2);
}

.card{
  box-sizing: border-box;
  text-align: center;
}

.card3 {
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 25px rgba(153, 142, 142, 0.2);
  border-radius: 20px;
}

.card4 {
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 25px rgba(153, 142, 142, 0.2);
  border-radius: 20px;
}

.file_input {
  display: none;
}

.icon_decor {
  margin-top: 15px;
 
}

.emp_name {
  font-size: 20px;
  
}

.email_decor {
  font-size: 20px;
}

.icon_hover :hover {
  font-size: 40px;
}