.sidebar{
  
  grid-area: sidebar;
  background-color:  rgb(213, 230, 67);
  overflow: auto;
  padding: 15px;
  transition: all 0.5s;
}

.content {
  margin-top: 50px;
} 

.content > div {
  align-content: center;
  padding: 20px;
}

.divbar{
  text-align: center;
}

.divbar:hover{
  font-weight: 700;
}


.content > div > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.icon_decor {
  font-size: 25px;
  justify-content: center;
}
